body {
  text-align: center;
  margin-top: 50px;
}
/* --------------- start css block ---------------- */
.socialBlockInline {
  display: inline-block;
  border: 1px solid grey; /* убрать в продакшене */
}

.socialItem {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-bottom: 10px; /* расстояние между блоками */
  cursor: pointer;
}

.socialItem:last-child {
  margin: 0px;
}

.socialItem__img { 
  width: 30px; /* ширина и высота изображения*/
  height: 30px;
  margin-right: 10px; /* расстояние от изображения до текста */
}

.socialItem__label {
  text-transform: uppercase;
  /* font-size: 12px; */
}
/* --------------- end css block ---------------- */