body {
  text-align: center;
  margin-top: 50px;
}
/* --------------- start css block ---------------- */
.socialBlockInline {
  display: inline-block;
  justify-content: start;
  align-items: center;
  line-height: 0em;
  border: 1px solid grey; /* убрать в продакшене */
}
.socialItem {
  display: inline-block;
  cursor: pointer;
  margin-right: 10px; /* расстояние между изображениями */
}
.socialItem:last-child {
  margin: 0px;
}
.socialItem__img { /* размеры изображения */
  width: 30px;
  height: 30px;
}
/* --------------- end css block ---------------- */